{% extends "_template.html.twig" %}

{% block title %}
    Inscription 
{% endblock %}


{% block content %}



<div class="section">
    <h2 class="title"> Inscription</h2>
</div>


{% include "includes/flash_message.html.twig" %}  


<div class="section">
    {{ form_start(register_form) }}
        {{ form_row(register_form.email, {
            label: 'Votre email'
        }) }}

        {{ form_row(register_form.pseudo, {
            label: 'Votre pseudo'
        }) }}

        {{ form_row(register_form.password) }}


        <button class="button is-success" type="submit">
        inscrivez-vous
       </button>
    {{ form_end(register_form) }}
</div>




{% endblock %}
